# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv/
*.env
.vercel
chatbotAgent/__pycache__/
chatbotAgent/__pycache__/
__pycache__/
*.pyc
chatbotAgent/mindmitra-tts-7909061416cd.json
chatbotAgent/*.json
credentials_base64.txt
chatbotAgent/credentials_base64.txt
chatbotAgent/venv/
.vite/
